.greeting {
  background-image: url("../../assets/images/greeting-background.jpg");
  //background-size: cover;
  background-repeat: no-repeat;
  //width:100%;
  //padding-top:200px;
  //padding-bottom: 300px;
}

.text {
  color:black;
  padding-top:120px;
  padding-bottom: 400px;
}