.greeting {
  background-image: url("../../assets/images/greeting-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width:1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height:600px;
  font-size:18px;
}

.text {
  text-align: center;
  width: 90%;
  color:black;
  padding-top:120px;
  line-height: 25px;
}