.slider-container {
  max-width:420px;
  width:100%;
}

.card {
  overflow: hidden;

  &:hover {
    transition: all 0.3s ease-in-out;
  }

  &__container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    width:70%;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__wrapper img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  &__btn {
    color:#fff;
    width:100%;
    background: #73baba;
    border: none;
    border-radius: 0px 0px 10px 10px;
  }

  &__btn:hover {
    background: #6991e0;
  }
}


.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slider-icon {
  color:black;
}

.slider-icon:hover {
  color: #6991e0;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.slides-list {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.custom-indicator {
  bottom: -65px;
}

.custom-indicator li {
  width:50px;
  height:50px;
  filter: grayscale(100%);
}

.custom-indicator li.slick-active {
  filter: grayscale(0);
}

.slick-next {
  right:30px;
}

.slick-prev {
  left:20px;
}