.serverAnswer__container {
  max-width:500px;
  width:100%;
  position: relative;

  & img {
    width:100%;
    border-radius: 1px;
  }
}

.answer {

  & span {
    font-weight: 500;
  }
}

.image-container {
  width:100%;
}


//.b-box {
//  border:1px solid red;
//  position: absolute;
//  border-radius: 10px;
//  overflow: hidden;
//}

.b-box {
  position: absolute;
  border: 3px solid;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  clip-path: inset(0px round 10px);
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
