.serverAnswer__container {
  max-width:500px;
  width:100%;

  & img {
    width:100%;
    border-radius: 1px;
  }
}

.answer {

  & span {
    font-weight: 500;
  }
}

.image-container {
  width:100%;
}