.userPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:18px;
}

.container {
  position: relative;

  img {
    border-radius: 5px;
    height:100%;
  }
}

.imageContainer {
  height:400px;
}

.unvisibleImage {
  opacity: 0;
  position: absolute;
}

.bBox {
  position: absolute;
  border: 3px solid;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  clip-path: inset(0px round 10px);
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
