@import "./components/all.scss";
@import "./libs/normalize";
@import "./variables.scss";

.wrapper {
  width: calc(100vw - 100px);
  height:100%;
  max-width:1400px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
